/*##################################################################################################
#
# ---- BLUE Theme
#
##################################################################################################*/
body 								{background: url(../images/theme_blue/body.gif);}
header 								{background: url(../images/theme_blue/header.gif);}
footer 								{background: url(../images/theme_blue/footer.gif);}
.sf-menu a.active-tab 				{color: #699bbf;}
.sf-menu li ul 						{border: 5px solid #699bbf;}
.sf-menu li ul li a					{color: #699bbf !important;}
.sf-menu li ul li a:hover			{background: #699bbf;}
.testimonials-inner 				{background: url(../images/theme_blue/testimonial-inner.gif);}
.testimonials-inner a 				{color: #699bbf;}
.tweet_list li a 					{color: #699bbf;}
.post-widget a 						{color: #699bbf;}
.menu-widget ul li a:hover 			{border-left: 5px solid #699bbf;}
.pagination li.pag-prev a:hover,
.pagination li.pag-next a:hover,
.pagination li.pag-number a:hover 	{color: #699bbf !important;}
.pagination li.pag-prev a 			{background: url(../images/theme_blue/pag_prev.png) no-repeat;}
.pagination li.pag-next a 			{background: url(../images/theme_blue/pag_next.png) no-repeat;}
.pagination li.pag-number a 		{background: url(../images/theme_blue/pag_number.png) no-repeat;}
.email-address a 					{color: #699bbf;}
#header-bottom 						{background: url(../images/theme_blue/header_bottom.gif) repeat-x;}
#main h1.special span 				{background: url(../images/theme_blue/body.gif);}
#main a 							{color: #699bbf;}
#comment-submit 					{background: url(../images/theme_blue/submit.png) no-repeat 0 0;}
#comment-submit:hover 				{color: #699bbf;}
#footer-top 						{background: url(../images/theme_blue/footer_top.gif) repeat-x;}
#footer-bottom 						{background: url(../images/theme_blue/footer_bottom.gif) repeat-x;}
#bottom ul li a:hover 				{color: #699bbf;}
::selection 						{color: #fff; background-color: #699bbf;}
::-moz-selection 					{color: #fff; background-color: #699bbf;}